.log_contents_down_myList_addandTotal {
  background-color: var(--listItem-color);
  border-radius: 10px 10px 0px 0px;
}
.log_contents_down_myList_foodList {
  margin: 5px 0px;
  background-color: var(--listItem-color);
  border-radius: 10px;
}
.log_contents_down_myList_foodList_right {
  font-size: 0.8rem;
}
.log_contents_down_myList_foodList_left_quantity {
  padding-top: 5px;
}
