:root {
  --background-color: #e2e7ee;
  --borderLine-color: rgb(160, 160, 160);
  --listItem-color: #ced4e2;
  --topBar-color: aliceblue;
  --text-main: rgba(41, 41, 41, 1);
  --text-sub: rgb(117, 117, 117);
  --button-color: lightcoral;
  --button-text-color: whitesmoke;
  --button-hover-color: rgb(243, 117, 117);
  --progressBar-color: #e8d0d7;
  --pane-padding: 5px 42px;
  --box-shadow: 4px 6px 7px 0px rgb(0 0 0 / 22%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background {
  background-color: var(--background-color);
}
* {
  box-sizing: border-box;
  border-color: var(--borderLine-color);
  /* background-color: var(--background-color); 이거하면 datepicker오류 */
  color: var(--text-main);
  text-decoration: none;
}
*:focus,
*:hover,
*:visited,
*:link,
*:active {
  text-decoration: none;
}
a {
  color: var(--text-main);
}

.jcac {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 630px) {
}
