* {
  padding: 0;
  margin: 0;
  list-style: none;
}
input,
button {
  outline: none;
  border: 1px solid var(--borderLine-color);
}
.Log {
  min-height: calc(100vh - 110px);
  padding: 1rem;
  /* background-color: rgb(243, 234, 222); */
}
.log_wrapper {
  position: relative;
}
.log_contents_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log_contents_upper {
  height: 80px;
  border: 1px solid var(--borderLine-color);
  max-width: 580px;
}

/* 실제 컨텐츠 영역 */
.log_contents_down {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 내 음식 정보 */
.log_contents_down_myList {
  padding: 1rem 0;
  max-width: 580px;
}
/* 추가버튼 + 총 영양성분 */
.log_contents_down_myList_addandTotal {
  display: flex;
  justify-content: center;
  background-color: var(--listItem-color);
  border-radius: 10px 10px 0px 0px;
}
.log_contents_down_myList_add {
  cursor: pointer;
  flex: 1;
}
.log_contents_down_myList_totalNutrition {
}
.log_contents_down_myList_totalNutrition div {
  display: flex;
  flex-direction: column;
  width: 65px;
}
.log_contents_down_myList_totalNutrition div span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
/* 먹은 음식 리스트 */
.log_contents_down_myList_foodLists {
}
.log_contents_down_myList_foodList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  max-width: 580px;
  background-color: var(--listItem-color);
  margin: 5px 0px;
  border-radius: 10px;
}
.log_contents_down_myList_foodList_left {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* 먹은음식 이름 + 용량 */
.log_contents_down_myList_foodList_left_name {
  font-weight: 500;
  margin-right: 8px;
}
.delete_icon_container {
  padding: 0 5px;
}
.log_contents_down_myList_foodList_left_name_Name {
  flex: 1;
  text-align: center;
  font-weight: 600;
}

.log_contents_down_myList_foodList_left_quantity {
  font-weight: 400;
  font-size: 0.7rem;
  justify-content: center;
}
.log_contents_down_myList_foodList_left_quantity > div {
}
.log_contents_down_myList_foodList_left_quantity > div > div {
}

/* 먹은음식 영양성분 */
.log_contents_down_myList_foodList_right {
  display: flex;
}
.log_contents_down_myList_foodList_right div {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 음식 검색 컨테이너 */
.log_contents_down_food_search_container {
  border-top: 1px solid var(--borderLine-color);
  border-bottom: 1px solid var(--borderLine-color);
  margin-top: 30px;
  padding: 10px 0;
  position: relative;
  max-width: 580px;
}
/* input + button */
.log_contents_down_food_search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.log_contents_down_food_search input {
  padding: 3px;
  padding-left: 5px;
  width: 180px;
}
.log_contents_down_food_search button {
  width: 50px;
  cursor: pointer;
}
/* 검색한 음식 리스트 */
.log_contents_down_food_searched_data_lists {
  margin-top: 30px;
}
/* 영양성분 안내칸 */
.food_searched_foodList_information {
  display: flex;
  justify-content: space-between;
  background-color: var(--listItem-color);
  border-radius: 10px 10px 0 0;
}
.food_searched_foodList_information_left {
}
.food_searched_foodList_information_right {
  display: flex;
}
.food_searched_foodList_information_right div {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

/* 검색된 음식 정보 */
.log_contents_down_food_searched_data_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  padding-left: 10px;
  background-color: var(--listItem-color);
  margin: 5px 0px;
  border-radius: 10px;
}
/* 음식이름 + 용량선택 */
.food_searched_foodList_left {
  flex: 1;
  display: flex;
}
.food_searched_foodList_foodName {
  flex: 1;
  display: flex;
}
.food_searched_foodList_foodName_add {
  /* font-size: 0.3rem; */
}
.food_searched_foodList_foodName_name {
  margin-right: 5px;
  font-weight: 600;
}
.food_searched_foodList_foodName_servWeight {
  font-size: 0.6rem;
}
.food_searched_foodList_select_container {
  flex: 0.3;
  display: flex;
}
.food_searched_foodList_select_container input {
  width: 60px;
  height: 19px;
}
.food_searched_foodList_select_container select {
  width: 49px;
  height: 19px;
}
.food_searched_foodList_select_container select option {
}
/* 음식 영양성분 */
.food_searched_foodList_right {
  display: flex;
}
.food_searched_foodList_right div {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_number:hover {
  background-color: rgb(163, 182, 248);
}

/* TOGGLE BUTTON */
.sideChart_toggle_button {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 625px) {
  .food_searched_foodList_information {
    display: flex;
    justify-content: space-between;
  }
  .food_searched_foodList_information_right {
    font-size: 0.75rem;
  }
  .food_searched_foodList_information_right div {
    width: 50px;
  }
  .log_contents_down_food_searched_data_list {
    margin: 5px 0;
  }
  .food_searched_foodList_left {
    width: 100%;
    flex-direction: column;
  }
  .food_searched_foodList_foodName {
    flex-direction: column;
  }
  .food_searched_foodList_foodName > div {
    padding-bottom: 2px;
  }
  .food_searched_foodList_foodName_name {
    width: 167px;
    font-size: 0.85rem;
  }
  .food_searched_foodList_right {
    justify-content: flex-end;
    font-size: 0.72rem;
    padding-top: 10px;
    width: 100%;
  }
  .food_searched_foodList_right div {
    width: 50px;
  }

  .log_contents_down_myList_foodList {
    margin: 5px 0px;
    border-radius: 10px;
  }
  .log_contents_down_myList_foodList_right {
    font-size: 0.8rem;
  }
  .log_contents_down_myList_foodList_left_quantity {
    padding-top: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .food_searched_foodList_foodName_name {
    width: 104px;
  }
}

@media only screen and (max-width: 425px) {
  .log_contents_down_myList_foodList_left_name_Name {
    font-size: 0.85rem;
    font-weight: 600;
  }
  .log_contents_down_myList_totalNutrition div {
    width: 50px;
    font-size: 0.75rem;
  }
  .log_contents_down_myList_foodList_right div {
    width: 50px;
  }
}
