.Header {
  display: flex;
  justify-content: space-between;
  height: 110px;
  position: sticky;
  top: 0;
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 2;
  background-color: var(--background-color);
}

.header_datepicker_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.header_datepicker_container .calander {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 5px 0;
}
.header_datepicker_container .calander_text {
}

.header_user_info_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.header_user_info_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 25px;
}

.header_user_info_container .username {
}
.header_user_info_container .username span {
  color: var(--button-color);
}
.header_user_info_container .username .username_greeting {
  font-size: 0.85rem;
  color: var(--text-main);
}
.header_user_info_container .login {
}

.example-custom-input {
  padding: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 10px;
}
/* 로그인, 회원가입 버튼 디자인 */
.login_button_style {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border-radius: 5px;
}
.login_button_style:hover {
  background-color: var(--button-hover-color);
}
.login_button_style a {
  color: var(--button-text-color);
}

.example-custom-input:hover {
  /* font-size: 1.4rem;
  border: 1px solid var(--borderLine-color); */
  background-color: var(--listItem-color);
  transition: all 0.5s;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  /* 헤더 */
  .Header {
    background-color: var(--topBar-color);
  }
  .header_user_info_container {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .header_user_info_container div {
    padding: 0;
  }
  .username_greeting {
    font-size: 0.7rem;
  }
}
